<h1 class="text-3xl font-bold text-center my-10">
    Ministore
</h1>

<div class="grid grid-cols-4 gap-4">
    <app-product-card 
        [imageUrl]="'camera.jpg'" 
        [title]="'CAMARA'" 
        [price]="100000" 
        [description]="'Cámara Web Logitech HD C270 con Micrófono, 1280 x 720 Pixeles, USB 2.0, Negro'" 
    />
    <app-product-card 
        [imageUrl]="'camera.jpg'" 
        [title]="'CAMARA'" 
        [price]="100000" 
        [description]="'Cámara Web Logitech HD C270 con Micrófono, 1280 x 720 Pixeles, USB 2.0, Negro'" 
    />
    <app-product-card 
        [imageUrl]="'camera.jpg'" 
        [title]="'CAMARA'" 
        [price]="100000" 
        [description]="'Cámara Web Logitech HD C270 con Micrófono, 1280 x 720 Pixeles, USB 2.0, Negro'" 
    />
    <app-product-card 
        [imageUrl]="'camera.jpg'" 
        [title]="'CAMARA'" 
        [price]="100000" 
        [description]="'Cámara Web Logitech HD C270 con Micrófono, 1280 x 720 Pixeles, USB 2.0, Negro'" 
    />
</div>