.navbar{
    height: 105px;
    background-color: skyblue;
}

.navbar-links{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}

.search-box{
    display: flex;
}

.search-box input {
    outline: none;
    width: 750px;
    border-radius: 10px 0 0 10px;
    background: #fff;
    padding-left: 20px;
    font-size: 16px;
}

.search-box button{
    width: 50px;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    display: flex;    
    justify-content: center;
}

.search-box svg{
    width: 22px;
    fill: skyblue;
}

.account{
    display: flex;
    align-items: center;
    gap: 10px;
}

.line{
    width: 2px;
    height: 40PX;
    background-color: #000000;
}

.account svg{
    width: 20px;
}

.categorys{
    display: flex;
    gap: 5px;
    cursor: pointer;
    position: relative;
}

.categorys svg{
    width: 15px;
}

.categorys:hover svg{
    transform: rotate(180deg);
}

.products{
    display: none;
    position: absolute;
    top: 100%;
    background-color: skyblue;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    padding: 10px 0px 10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.categorys:hover > .products{
    display: block;
}

.mega-menu{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: skyblue;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    padding: 10px 0px 10px 20px;
    width: 500px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.products li:hover > .mega-menu{
    display: flex;
}

.sub-menu h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sub-menu ul li{
    padding: 3px;
}