<div class="navbar">
    <div class="navbar-links">
        <div>
            <li class="logo"><a href="">Ministore</a></li>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Buscar...">
        </div>
        <div class="account">
            <span>Hola, inicia sesión</span>
            <span>Mis compras</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path
                    d="M0 24C0 10.7 10.7 0 24 0L69.5 0c22 0 41.5 12.8 50.6 32l411 0c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3l-288.5 0 5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5L488 336c13.3 0 24 10.7 24 24s-10.7 24-24 24l-288.3 0c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5L24 48C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
            </svg>
        </div>
    </div>
    <div class="navbar-links">
        <div>
            <ul class="link">
                <li>
                    <a href="">Todas las categorias</a>
                    <ul class="products">
                        <li><a href="">Electrónica</a>
                            <ul class="sub-menu">
                                <li><a href="">Smarwatch y accesorios</a></li>
                                <ul>
                                    <li><a href="">Smartwatch y accesorios</a></li>
                                    <li><a href="">Computación</a></li>
                                    <li><a href="">Audio</a></li>
                                    <li><a href="">Videojuegos</a></li>
                                    <li class="more">
                                        <span><a href="">Ver todo</a></span>
                                    </li>
                                </ul>
                            
                                <li><a href="">Computación</a></li>
                                <ul>
                                    <li><a href="">Smartwatch y accesorios</a></li>
                                    <li><a href="">Computación</a></li>
                                    <li><a href="">Audio</a></li>
                                    <li><a href="">Videojuegos</a></li>
                                    <li class="more">
                                        <span><a href="">Ver todo</a></span>
                                    </li>
                                </ul>
                            
                                <li><a href="">Audio</a></li>
                                <ul>
                                    <li><a href="">Smartwatch y accesorios</a></li>
                                    <li><a href="">Computación</a></li>
                                    <li><a href="">Audio</a></li>
                                    <li><a href="">Videojuegos</a></li>
                                    <li class="more">
                                        <span><a href="">Ver todo</a></span>
                                    </li>
                                </ul>
                            </ul>
                        </li>
                        <li><a href="">Zapatos y Zapatillas</a>
                            <ul class="sub-menu">
                                <li><a href="">Smarwatch y accesorios</a></li>
                                <ul>
                                    <li><a href="">Smartwatch y accesorios</a></li>
                                    <li><a href="">Computación</a></li>
                                    <li><a href="">Audio</a></li>
                                    <li><a href="">Videojuegos</a></li>
                                    <li class="more">
                                        <span><a href="">Ver todo</a></span>
                                    </li>
                                </ul>
                            </ul>
                            <ul class="sub-menu">
                                <li><a href="">Computación</a></li>
                                <ul>
                                    <li><a href="">Smartwatch y accesorios</a></li>
                                    <li><a href="">Computación</a></li>
                                    <li><a href="">Audio</a></li>
                                    <li><a href="">Videojuegos</a></li>
                                    <li class="more">
                                        <span><a href="">Ver todo</a></span>
                                    </li>
                                </ul>
                            </ul>
                            <ul class="sub-menu">
                                <li><a href="">Audio</a></li>
                                <ul>
                                    <li><a href="">Smartwatch y accesorios</a></li>
                                    <li><a href="">Computación</a></li>
                                    <li><a href="">Audio</a></li>
                                    <li><a href="">Videojuegos</a></li>
                                    <li class="more">
                                        <span><a href="">Ver todo</a></span>
                                    </li>
                                </ul>
                            </ul>
                        </li>
                        <li><a href="">Deportes y aire libre</a>
                            <ul class="sub-menu">
                                <li><a href="">Smarwatch y accesorios</a></li>
                                <ul>
                                    <li><a href="">Smartwatch y accesorios</a></li>
                                    <li><a href="">Computación</a></li>
                                    <li><a href="">Audio</a></li>
                                    <li><a href="">Videojuegos</a></li>
                                    <li class="more">
                                        <span><a href="">Ver todo</a></span>
                                    </li>
                                </ul>
                            </ul>
                            <ul class="sub-menu">
                                <li><a href="">Computación</a></li>
                                <ul>
                                    <li><a href="">Smartwatch y accesorios</a></li>
                                    <li><a href="">Computación</a></li>
                                    <li><a href="">Audio</a></li>
                                    <li><a href="">Videojuegos</a></li>
                                    <li class="more">
                                        <span><a href="">Ver todo</a></span>
                                    </li>
                                </ul>
                            </ul>
                            <ul class="sub-menu">
                                <li><a href="">Audio</a></li>
                                <ul>
                                    <li><a href="">Smartwatch y accesorios</a></li>
                                    <li><a href="">Computación</a></li>
                                    <li><a href="">Audio</a></li>
                                    <li><a href="">Videojuegos</a></li>
                                    <li class="more">
                                        <span><a href="">Ver todo</a></span>
                                    </li>
                                </ul>
                            </ul>
                        </li>
                        <li><a href="">Mascotas</a>
                            <ul class="sub-menu">
                                <li><a href="">Smarwatch y accesorios</a></li>
                                <ul>
                                    <li><a href="">Smartwatch y accesorios</a></li>
                                    <li><a href="">Computación</a></li>
                                    <li><a href="">Audio</a></li>
                                    <li><a href="">Videojuegos</a></li>
                                    <li class="more">
                                        <span><a href="">Ver todo</a></span>
                                    </li>
                                </ul>
                            </ul>
                            <ul class="sub-menu">
                                <li><a href="">Computación</a></li>
                                <ul>
                                    <li><a href="">Smartwatch y accesorios</a></li>
                                    <li><a href="">Computación</a></li>
                                    <li><a href="">Audio</a></li>
                                    <li><a href="">Videojuegos</a></li>
                                    <li class="more">
                                        <span><a href="">Ver todo</a></span>
                                    </li>
                                </ul>
                            </ul>
                            <ul class="sub-menu">
                                <li><a href="">Audio</a></li>
                                <ul>
                                    <li><a href="">Smartwatch y accesorios</a></li>
                                    <li><a href="">Computación</a></li>
                                    <li><a href="">Audio</a></li>
                                    <li><a href="">Videojuegos</a></li>
                                    <li class="more">
                                        <span><a href="">Ver todo</a></span>
                                    </li>
                                </ul>
                            </ul>
                        </li>
                        <li><a href="">Construcción</a>
                            <ul class="sub-menu">
                                <li><a href="">Smarwatch y accesorios</a></li>
                                <ul>
                                    <li><a href="">Smartwatch y accesorios</a></li>
                                    <li><a href="">Computación</a></li>
                                    <li><a href="">Audio</a></li>
                                    <li><a href="">Videojuegos</a></li>
                                    <li class="more">
                                        <span><a href="">Ver todo</a></span>
                                    </li>
                                </ul>
                            </ul>
                            <ul class="sub-menu">
                                <li><a href="">Computación</a></li>
                                <ul>
                                    <li><a href="">Smartwatch y accesorios</a></li>
                                    <li><a href="">Computación</a></li>
                                    <li><a href="">Audio</a></li>
                                    <li><a href="">Videojuegos</a></li>
                                    <li class="more">
                                        <span><a href="">Ver todo</a></span>
                                    </li>
                                </ul>
                            </ul>
                            <ul class="sub-menu">
                                <li><a href="">Audio</a></li>
                                <ul>
                                    <li><a href="">Smartwatch y accesorios</a></li>
                                    <li><a href="">Computación</a></li>
                                    <li><a href="">Audio</a></li>
                                    <li><a href="">Videojuegos</a></li>
                                    <li class="more">
                                        <span><a href="">Ver todo</a></span>
                                    </li>
                                </ul>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Ofertas</a>
                </li>
                <li>
                    <a href="">Ayuda</a>
                </li>
            </ul>
        </div>
    </div>
</div>